@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700;800&display=swap');


h3 {
    font-style: italic;
    left: 12px;
}

* {
    font-family: 'Readex Pro', sans-serif;
}

.primary-button {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg, rgb(25, 171, 184), rgb(7, 102, 124));
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    margin: 0px 20px;
}

.postForm {
    border-top: solid 1px rgb(213, 213, 213);
}

.postForm form {
    
    display: flex;
}

.postForm form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    text-align: start;
}

.postForm form input {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
}

.postForm form label {
    margin: 10px 0;
}

.postForm form .multiple-input-container {
    display: flex;
    flex-direction: row;
}

.postForm form input::-webkit-outer-spin-button,
.postForm form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    //   margin: 0;
}

.postForm form .multiple-input-container input {
    margin-right: 10px;
}

.postForm form .multiple-input-container label {
    padding: 10px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

.postForm form input[type=radio] {
    display: none;
}

.postForm form input[type=radio]:checked+label {
    border: solid 2px #228693;
}

.postForm form input[type=submit]:hover {
    background-color: rgb(235, 235, 235);
}

.postForm form input[type=submit]:active {
    background-color: rgb(226, 115, 115);
}